


.image
{
  border: 2px solid black;
    width: 74%;
    height: 333px;
    margin-left: 25%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;

}
.section-1{
  display: flex;
    justify-content: space-around
}
rating
{
  margin-left: 93%;
  height: 22px;
  border: 2px solid black
}
.title_year
{
  margin-left: 79px;
  border: 2px solid black;
  padding: 17px;
  width: 196px;
  text-align: center;
  background-color: white;
}
.text
{
  width: 28%;
  height: 31px;
}
.btn
{
  width: 10%;
  height: 37px;
}
.movie
{
  margin-top: 5%;
}
.rating
{
  
    margin-left: 43%;
    height: 20px;
}
.Movie_list
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.add
{
  border: 2px solid black;
  height: 118px;
  padding: 135px 4.5%;
  margin-top: 5%;
  margin-left: 5%;
  background-color: white;
}
.search
{
  width: 30%;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
}
p{
  color: white;
    font-weight: bold;
}
.fa-search:before {
  padding: 25%;
}
